<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="public/css/font-awesome.css"> -->
    <link rel="stylesheet" href="public/css/style.css">
    <title>
        EZTravel
    </title>
    <style media="screen">

    </style>
</head>

<body>

  <header id="home" class="main-content screen-height">
    <%-include('navbar')%>

    <h1 class="logo-color text-large text-centered"><span>EZ</span><span>Travel</span></h1>
    <div class="main-menubar">
      <a href="#quicktravel" class="a-link btn btn-menu btn-md space-around-sm">QUICK TRAVEL</a>
      <a href="#findyourplace" class="a-link btn btn-menu btn-md space-around-sm">FIND by DETAILS</a>
      <a href="#recommended" class="a-link btn btn-menu btn-md space-around-sm">RECOMMENDED</a>
    </div>
  </header>

  <section class="main-content screen-height" id="quicktravel">
    <div>
      <h1 class="logo-color text-large text-centered"><span>QUICK</span> <span>TRAVEL</span></h1>
    </div>
    <form class="full-form" action="/search">
      <input class="rounded-border" type="text" id="quicksearch" placeholder="'Name' or 'Province'">
      <a id="submitsearch" type="submit"><i class="fa fa-search">  </i></a>
    </form>
    <div id="quickresult"></div>
  </section>

  <section class="main-content screen-height" id="findyourplace">
    <div>
      <h1 class="logo-color text-large text-centered"><span>FIND</span> <span>YOUR PLACE</span></h1>
    </div>

    <%-includes('filter')%>
  </section>

  <section class="main-content screen-height" id="recommended">
    <div>
      <h1 class="logo-color text-large text-centered"><span>RECOMMENDED</span> <span>PLACE</span></h1>
    </div>
    <div class="gallery">
      <div class="gallery-1">
        <div class="gallery-item">
          <img src="<%=recommendedPlace[0].imgurl%>" alt="<%=recommendedPlace[0].name%>" class="gallery-img">
          <a href="/search?place=<%=recommendedPlace[0].name%>" class="img-overlay"><h1><span><%=recommendedPlace[0].name%></span></h1></a>
        </div>
        <div class="gallery-item">
          <img src="<%=recommendedPlace[1].imgurl%>" alt="<%=recommendedPlace[1].name%>" class="gallery-img">
          <a href="/search?place=<%=recommendedPlace[1].name%>" class="img-overlay"><h1><span><%=recommendedPlace[1].name%></span></h1></a>
        </div>
      </div>
      <div class="gallery-2">
        <div class="gallery-item">
          <img src="<%=recommendedPlace[2].imgurl%>" alt="<%=recommendedPlace[2].name%>" class="gallery-img">
          <a href="/search?place=<%=recommendedPlace[2].name%>" class="img-overlay"><h1><span><%=recommendedPlace[2].name%></span></h1></a>
        </div>
        <div class="gallery-item">
          <img src="<%=recommendedPlace[3].imgurl%>" alt="<%=recommendedPlace[3].name%>" class="gallery-img">
          <a href="/search?place=<%=recommendedPlace[3].name%>" class="img-overlay"><h1><span><%=recommendedPlace[3].name%></span></h1></a>
        </div>
        <div class="gallery-item">
          <img src="<%=recommendedPlace[4].imgurl%>" alt="<%=recommendedPlace[4].name%>" class="gallery-img">
          <a href="/search?place=<%=recommendedPlace[4].name%>" class="img-overlay"><h1><span><%=recommendedPlace[4].name%></span></h1></a>
        </div>

      </div>
      <div class="gallery-3">
        <div class="gallery-item">
          <img src="<%=recommendedPlace[5].imgurl%>" alt="<%=recommendedPlace[5].name%>" class="gallery-img">
          <a href="/search?place=<%=recommendedPlace[5].name%>" class="img-overlay"><h1><span><%=recommendedPlace[5].name%></span></h1></a>
        </div>
        <div class="gallery-item">
          <img src="<%=recommendedPlace[6].imgurl%>" alt="<%=recommendedPlace[6].name%>" class="gallery-img">
          <a href="/search?place=<%=recommendedPlace[6].name%>" class="img-overlay"><h1><span><%=recommendedPlace[6].name%></span></h1></a>
        </div>
      </div>
    </div>
  </section>
  <%- include('footer') %>
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="styles/rangeslider.js">

  </script>
  <script type="text/javascript" src="styles/style.js">

  </script>
</body>

</html>
